<div class="order">
    <h1>Food ordering</h1>
    <p>Available to order pizzas and regular menu! Card and cash payment available.</p>
    <p>Delivery fee:</p>
    <table class="order-table">
        <tbody>
        <tr>
            <td>Camp</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Tapa, Moe, Vahakulmu</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Ambla, Kadrina, Lehtse</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Tamsalu, Jäneda, Aravete, Käravete</td>
            <td>15€</td>
        </tr>
        </tbody>
    </table>
    <p>Please place your order by calling <a href="tel:+372 57 57 0779 ">+372 57 57 0779</a> or message us on our
        <a href="https://www.facebook.com/pitsakohvik" target="_blank">Facebook page</a>.</p>
</div>