<div class="order">
    <h1>Tellimine</h1>
    <p>Tellimiseks on saadaval kogu menüü. Maksta saab nii sularahas kui ka kaardiga!</p>
    <p>Kohaletoomine:</p>
    <table class="order-table">
        <tbody>
        <tr>
            <td>Tapa, Moe, Vahakulmu</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Ambla, Kadrina, Lehtse</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Tamsalu, Jäneda, Aravete, Käravete</td>
            <td>15€</td>
        </tr>
        </tbody>
    </table>
    <p>Tellimiseks helista <a href="tel:+37257570779">+372 57 57 0779</a> või esita oma tellimus meie
        <a href="https://www.facebook.com/pitsakohvik" target="_blank">Facebooki lehe</a> kaudu.</p>
</div>