<div class="order">
    <h1>Заказ</h1>
    <p>Заказать можно все блюда меню. Оплатить можно как наличными, так и картой!</p>
    <p>Доставка:</p>
    <table class="order-table">
        <tbody>
        <tr>
            <td>Tapa, Moe, Vahakulmu</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Ambla, Kadrina, Lehtse</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Tamsalu, Jäneda, Aravete, Käravete</td>
            <td>15€</td>
        </tr>
        </tbody>
    </table>
    <p>Звоните по номеру <a href="tel:+37257570779">+372 57 57 0779</a> или разместите заказ на нашей
        <a href="https://www.facebook.com/pitsakohvik" target="_blank">странице в Фейсбуке</a>.
    </p>
</div>