<div class="order">
    <h1>Commande</h1>
    <p>Tous nos plats sont disponibles sur commande. Nous acceptons les paiments en espèces et par carte.</p>
    <p>Livraison à:</p>
    <table class="order-table">
        <tbody>
        <tr>
            <td>Tapa, Moe, Vahakulmu</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Ambla, Kadrina, Lehtse</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Tamsalu, Jäneda, Aravete, Käravete</td>
            <td>15€</td>
        </tr>
        </tbody>
    </table>
    <p>Pour passer commande veuillez appeler au <a href="tel:+37257570779">+372 57 57 0779</a> Pour passer commande veuillez appeler au
        <a href="https://www.facebook.com/pitsakohvik" target="_blank">Facebooki</a>.</p>
</div>